body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
  "Fira Sans", "Droid Sans", "Helvetica Neue", 
  sans-serif;
  font-weight: 100;
  background: #fafafa
}

div {
  box-sizing: border-box;
}

h4 {
  font-weight: 400;
}

.panel {
  width: 100%;
  height: 50px;
  background-color: #263238;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.container {
  overflow: auto;
  width: 821px;
  margin: auto;
  margin-top: 50px;
  background: #90a4ae;
  padding: 20px;
}

.staff {
  width: 500px;
  height: 500px;
  float: left;
  background-image: url("../media/staff.png");
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,.5);
}

.staff:before {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background: #3f51b5;
  opacity: .01;
}

.staff-component {
  position: absolute;
}

.staff-component > div {
  float: left;
}

.note {
  background-image: url("../media/note.png");
  width: 35px;
  height: 60px;
}

.sharp {
  background-image: url("../media/sharp.png");
  width: 28px;
  height: 60px;
}

.flat {
  background-image: url("../media/flat.png");
  width: 27px;
  height: 60px;
}

.dblsharp {
  background-image: url("../media/dblsharp.png");
  width: 28px;
  height: 60px;
}

.dblflat {
  background-image: url("../media/dblflat.png");
  width: 50px;
  height: 60px;
}

.natural {
  background-image: url("../media/natural.png");
  width: 20px;
  height: 60px;
}

.line {
  background-image: url("../media/line.png");
  width: 63px;
  height: 60px;
}

.control {
  width: 260px;
  height: 500px;
  background-color: #90a4ae;
  float: right;
  padding: 20px;
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,.5);
}

.controls {
  clear: both;
}

.hidden {
  display: none;
}

.button {
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #263238;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #fafafa;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.5);
}

.clef-chosen {
  background-color: #455a64;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,.5);
}

.clef-buttons {
  text-align: center;
  margin-bottom: 5px;
}

.bad-choice {
  background-color: #EA442C;
  padding: 10px;
  overflow: auto;
  clear: both;
}

.keyboard {
  clear: both;
  height: 123px;
  background-color: black;
  position: relative;
  padding: 2px 1px;
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,.5);
}

.keyWhite {
  background-image: url("../media/keywhite.png");
  background-size: 19px;
  display: inline-block;
  width: 19px;
  height: 119px;
  cursor: pointer;
}

.keyWhiteHolder {
  display: inline-block;
  padding-right: 1px;
}

.keyBlackHolder {
  position: absolute;
  background-color: black;
  padding: 0 1px 1px 1px
}

.keyBlack {
  background-image: url("../media/keyblack.png");
  background-size: 9px;
  width: 9px;
  height: 74.5px;
  cursor: pointer;
}

.deactivated {
  cursor: auto;
}

.activeWhite {
  background-image: url("../media/keywhiteactive.png");
}

.activeBlack {
  background-image: url("../media/keyblackactive.png");
}

.correctWhite {
  background-image: url("../media/keywhitecorrect.png");
}

.correctBlack {
  background-image: url("../media/keyblackcorrect.png");
}

.wrongWhite {
  background-image: url("../media/keywhitewrong.png");
}

.wrongBlack {
  background-image: url("../media/keyblackwrong.png");
}

.score-container {
  overflow: auto;
  margin-bottom: 20px;
}

.score-holder {
  width: 100px;
  height: 80px;
  background-color: #fafafa;
  line-height: 80px;
  text-align: center;
  font-size: 50px;
}

.score-good {
  color: green;
  float: left;
}

.score-bad {
  color: red;
  float: right;
}

.score-text {
  width: 100px;
  height: 20px;
  background: #455a64;
  text-align: center;
  line-height: 20px;
  color: #fafafa;
}

.logo {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 50px;
  color: #fafafa;
}