body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.panel {
  width: 100%;
  height: 50px;
  background-color: skyblue;
  position: fixed;
  top: 0;
}

.container {
  overflow: auto;
  width: 821px;
  margin: auto;
  margin-top: 50px;
  background-color: lightgrey;
  padding: 20px;
}

.staff {
  width: 500px;
  height: 500px;
  float: left;
  background-image: url("../media/staff.png");
  position: relative;
  margin-bottom: 20px;
}

.staff-component {
  position: absolute;
}

.staff-component > div {
  float: left;
}

.note {
  background-image: url("../media/note.png");
  width: 35px;
  height: 60px;
}

.sharp {
  background-image: url("../media/sharp.png");
  width: 28px;
  height: 60px;
}

.flat {
  background-image: url("../media/flat.png");
  width: 27px;
  height: 60px;
}

.dblsharp {
  background-image: url("../media/dblsharp.png");
  width: 28px;
  height: 60px;
}

.dblflat {
  background-image: url("../media/dblflat.png");
  width: 50px;
  height: 60px;
}

.natural {
  background-image: url("../media/natural.png");
  width: 20px;
  height: 60px;
}

.line {
  background-image: url("../media/line.png");
  width: 63px;
  height: 60px;
}

.control {
  width: 260px;
  height: 500px;
  background-color: grey;
  float: right;
  padding: 20px;
}

.controls {
  clear: both;
}

.hidden {
  display: none;
}

.button {
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: blue;
  display: inline-block;
  cursor: pointer;
}

.clef-chosen {
  background-color: skyblue;
}

.bad-choice {
  background-color: red;
  padding: 10px;
  clear: both;
}

.keyboard {
  clear: both;
  height: 123px;
  background-color: black;
  position: relative;
  padding: 2px 0 2px 1px;
}

.keyWhite {
  background-image: url("../media/keywhite.png");
  background-size: 19px;
  display: inline-block;
  margin-right: 1px;
  width: 19px;
  height: 119px;
  cursor: pointer;
}

.keyHolder {
  position: absolute;
  background-color: black;
  padding: 0 1px 1px 1px
}

.keyBlack {
  background-image: url("../media/keyblack.png");
  background-size: 9px;
  width: 9px;
  height: 74.5px;
  cursor: pointer;
}

.deactivated {
  cursor: auto;
}

.activeWhite {
  background-image: url("../media/keywhiteactive.png");
}

.activeBlack {
  background-image: url("../media/keyblackactive.png");
}

.correctWhite {
  background-image: url("../media/keywhitecorrect.png");
}

.correctBlack {
  background-image: url("../media/keyblackcorrect.png");
}

.wrongWhite {
  background-image: url("../media/keywhitewrong.png");
}

.wrongBlack {
  background-image: url("../media/keyblackwrong.png");
}

.score-container {
  overflow: auto;
  margin-bottom: 20px;
}

.score-holder {
  width: 100px;
  height: 80px;
  background-color: white;
  line-height: 80px;
  text-align: center;
  font-size: 50px;
}

.score-good {
  color: green;
  float: left;
}

.score-bad {
  color: red;
  float: right;
}

.score-text {
  width: 100px;
  height: 20px;
  background-color: pink;
  text-align: center;
  line-height: 20px;
  color: black;
}
